---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import ScrollToTop from "@components/ScrollToTop.astro";
import { SITE_CONFIG } from "@config";
import Analytics from "@vercel/analytics/astro";

const {
  title,
  description,
  siteLogo,
  navLinks,
  lang,
  author,
  socialLinks,
  socialImage = "/seo.png",
  canonicalURL: defaultCanonicalURL = "https://chungsiang.co",
} = SITE_CONFIG;

// Construct canonical and OG image URLs
const canonicalURL = defaultCanonicalURL + (Astro.url.pathname || "/");
const ogImgUrl = defaultCanonicalURL + socialImage;
---

<!doctype html>
<html lang={lang} class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <meta name="author" content={author} />
    <link rel="icon" href="/csrounded.png" />
    <title>{title}</title>

    <!-- Open Graph / Social -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:image" content={ogImgUrl} />
    <meta property="og:site_name" content={title} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={ogImgUrl} />
    <meta name="twitter:image:alt" content={`Preview image for ${title}`} />

    <!-- Canonical -->
    <link rel="canonical" href={canonicalURL} />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="font-sans font-light bg-[#101828]">
    <Header siteLogo={siteLogo} navLinks={navLinks} />

    <main class="max-w-3xl px-5 mx-auto">
      <slot />
    </main>

    <Footer author={author} socialLinks={socialLinks} />
    <ScrollToTop />

    <!-- Vercel Analytics -->
    <script
      defer
      src="https://static.vercel-insights.com/script.js"
      data-token="prj_NFTW2PNuR5wmFXdA67sCuNviLOC3"></script>
    <Analytics mode="production" />
  </body>
</html>
