---
import Header from "@components/Header.astro";
import { SITE_CONFIG } from "@config";
import Footer from "@components/Footer.astro";
import ScrollToTop from "@components/ScrollToTop.astro";

const {
  title,
  description,
  siteLogo,
  navLinks,
  lang,
  author,
  socialLinks,
  socialImage = "/seo.png",
  canonicalURL = "https://chungsiang.co" + Astro.url.pathname,
} = SITE_CONFIG;

const ogImgUrl = "https://chungsiang.co" + socialImage;
---

<!doctype html>
<html lang={lang} class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <meta name="author" content={author} />
    <link rel="icon" href="/csrounded.png" />
    <title>{title}</title>

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:image" content={ogImgUrl} />
    <meta property="og:site_name" content={title} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={ogImgUrl} />
    <meta name="twitter:image:alt" content={`Preview image for ${title}`} />

    <link rel="canonical" href={canonicalURL} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="font-sans font-light bg-[#101828]">
    <Header siteLogo={siteLogo} navLinks={navLinks} />
    <main class="max-w-3xl px-5 mx-auto">
      <slot />
    </main>
    <Footer author={author} socialLinks={socialLinks} />
    <ScrollToTop />
  </body>
</html>
